.preview-stats {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  //   margin: 4rem auto;
  //   padding: 2rem;
}
.chart-wrapper {
  padding: 1.2rem;
  //   width: auto;
}
