.stats-card {
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px #ccc;
}
.title {
  display: block;
  text-align: center;
  margin: auto 0.5rem;
  font-weight: bolder;
}

.data-card-info {
  display: block;
  text-align: center;
  font-size: 1rem;
}
